bin/*
build/*

*.png
*.mp3
*.wav
*.ogg

!data/*.png
!data/*.mp3
!data/*.wav
!data/*.ogg

custom_music_discs_dp/*
custom_music_discs_rp/*
src/custom_music_discs_dp/*
src/custom_music_discs_rp/*

infinite_music_discs_dp/*
infinite_music_discs_rp/*
src/infinite_music_discs_dp/*
src/infinite_music_discs/rp/*

imd-tmp/*
src/tmp/*
src/imd-tmp/*

*.pyc
*.spec
*.zip
*.log

#Linux build script
tmp/*
.environment_setup_complete
